
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

/* Heading */
.heading h2{
    font-size: 28px;
    font-weight: 500;
    border-left: 8px solid #303054;
    padding: 5px 15px;
    margin-bottom: 15px;
}
.heading p{
    font-size: 18px;
}
.heading p span{
    font-weight: 600;
    color: #303054;
}

/* Buttons */
.btn1{
    font-size: 1rem;
    font-weight: 400;
    background-color: #303054;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none !important;
    transition: all 0.5s;
}
.btn1:hover{
    background-color: #e6edff;
    color: #303054;
}

/* Header */
header{
    background-color: #303054;
    width: 100%;
    
}

header .navbar-brand{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

nav{
    padding: 8px 0px !important;
}

.cont-sec{
    padding: 8px;
    background-color: #e6edff;
    width: 100%;
}

.cont-sec .contact-cont{
    display: flex;
    flex-wrap: wrap;
}
.cont-sec p{
    margin: 0;
}

.cont-sec p a{
    text-decoration: none;
    color: #303054;
}

.cont-sec .social{
    text-align: right
}

.cont-sec .social a img{
    width: 20px;
    margin-left: 15px;
}

.home-sec{
    /* height: 100vh; */
    padding: 100px 0;
}

.home-sec .home-content {
    align-items: center;
}

.home-sec .home-content h1{
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 20px;

} 
.home-sec .home-content h2 span{
    color: #14e20d;
}

.home-sec .home-content h2{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.home-sec .home-content p{
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.home-sec .img-sec{
    display: flex;
    justify-content: center;
}

.home-sec .img-sec img{
    width: 400px;
}

.home-sec .home-content{
    align-items: center;
    padding: 33px 0;
}

/* About section */
.about-sec{
    padding: 150px 0;
    background-color: #e6edff;
}

.about-sec img{
    width: 350px;
    border: 5px solid #303054;
    border-radius: 5px;
}

.about-sec .about-txt p{
    font-size: 18px;
}

/* Donation Section */
.don-sec{
    background-color: #e6edff;
    padding: 150px 0;
}

.don-sec .don-box{
    margin: 50px 0;
    background-color: #fff;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 15px #b4afaf;
    transition: all 1s;
}

.don-sec .don-box img{
    width: 70px;
    transition: all 1s;
}

.don-sec .don-box h3{
    margin: 15px 0 10px;
}

.don-sec .don-box p{
    margin-bottom: 25px;
}

.don-sec .don-box:hover img{
    transform: scale(1.1);
}

/* Missions */
.mission{
    padding: 150px 0;
}


.gallery-sec{
	position: relative;
	padding: 50px 0;
}

.gallery-sec .image-container{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	padding: 10px;
}

.gallery-sec .image-container .image{
	height: 200px;
	width: 300px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	overflow: hidden;
}

.gallery-sec .image-container .image img{
	height: 100%;
	width: 100%;
	border: 5px solid #d4d4d4;
	object-fit: cover;
	transition: 0.2s linear;
}

.gallery-sec .image-container .image:hover img{
	transform: scale(1.1);
}

.gallery-sec .pop-image{
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.8);
	height: 100%;
	width: 100%;
	z-index: 100;
	display: none;
}

.gallery-sec .pop-image span{
	position: absolute;
	top: 120px;
	right: 50px;
	font-size: 60px;
	font-weight: bolder;
	color: #ffffff;
	cursor: pointer;
	z-index: 100;
}

.gallery-sec .pop-image img{
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid #ffffff;
	width: 750px;
	object-fit: cover;
}

/* Conatact Us */
.contact-section {
    padding: 150px 0 80px;
}

.contact-section .contact-form .form-group {
    margin-bottom: 20px;
}

.contact-section .contact-form .form-control {
    height: 50px;
    border-radius: 5px;
}

.contact-section .contact-form textarea.form-control {
    height: 120px;
    margin-bottom: 10px;
}

.contact-section .contact-form .form-control:focus {
    box-shadow: none;
}




/* Footer */
footer{
    background-color: #303054;
    color: #e6edff;
    padding: 50px 0;
}
footer h4{
    margin-bottom: 20px;
}
footer p a{
    text-decoration: none;
    color: #e6edff;
}
footer p a:hover{
    text-decoration: none;
    color: #e6edff;
}


footer .col-two ul li{
    list-style: none;
}

footer .col-two ul li a{
    color: #e6edff;
    text-decoration: none;
    transition: all 0.5s;
}
footer .col-two ul li a:hover{
    margin-left: 5px;
}
footer .social{
    margin-bottom: 30px;
}
footer .social a img{
    width: 20px;
    margin-right: 15px;
}

/* Scroll Bar */

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    border: 7px solid transparent;
}

::-webkit-scrollbar-thumb{
    background: #303054;
}





input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container1 {
  margin: 20px auto;
  width: 70%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}







body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  .team{
    margin: 20px auto;
    width: 70%;
  }




  .loginform{
    border-radius: 5px;
    background-color: rgb(109 94 94 / 39%);
    padding: 20px;
    margin: 0 auto;
    width: 45%;
}
.loginform button:hover {

    background-color: #00b109;
  }
  .lxbtn{
    float: right;
    background-color: azure;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17%;
    cursor: pointer;
  }
  .lxbtn:hover{
    background-color: red;
    
  }
  .ltext{
    text-align: center;
  }
  .loginform input[type=text],input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .loginform button{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }


.container6{
    margin-top: 80px;
    display: none;
}





  
#clock{
    letter-spacing: 2px;
    font-weight: bolder;
    color: #00b109;
}